crewai
streamlit
apify-client
langchain
langchain-community
langchain-groq
transformers
duckduckgo-search
firecrawl-py
sentence-transformers
requests
beautifulsoup4
ratelimit
pyLDAvis
faiss-cpu
crewai_tools
exa
exa_py
langchain-exa

