crewai 
crewai-tools
streamlit
apify-client
langchain 
langchain-community 
langchain-groq 
langchain-exa
transformers
duckduckgo-search
sentence-transformers
requests
beautifulsoup4
ratelimit
pyLDAvis
faiss-cpu
exa
exa_py
